@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&display=swap');


html, body {
    width: 100%;
    margin: 0;
}

body {
    font-family: "Roboto Flex", sans-serif !important;   
    justify-content: center;
    color: var(--md-sys-color-total) !important;
}

footer {
    background-color: var(--md-sys-color-second-background);
    color: var(--md-sys-color-secondary);
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-top: 1px solid var(--md-sys-color-surface-bright);
}


button, a {
    cursor: pointer;
}

h1 {
    padding-bottom: 6px !important;
}

.list-group-item {
    color: var(--md-sys-color-total) !important;
    background: none !important;
    border: none !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#openModalButton.custom-button {
    background-color: var(--md-sys-color-primary);
    border: none !important;
    color: white; 
}

#openModalButton.custom-button:hover {
    background-color: var(--md-sys-color-primary2);
}
#openModalButton.custom-button:active {
    background-color: var(--md-sys-color-primary);
}

#openModalButton.custom-button:focus {
    box-shadow: none;
}

#customprimary-btn.custom-button{
    background-color: var(--md-sys-color-primary);
    border: none !important;
    color: white; 
}

#customprimary-btn.custom-button:hover {
    background-color: var(--md-sys-color-primary2) !important; 
}

#customprimary-btn.custom-button:focus {
    background-color: var(--md-sys-color-primary) !important; 
    box-shadow: none;
}
#moreBtnPanel.custom-button {
    background-color: var(--md-sys-color-secondary-light);
    border: none !important;
    color: var(--md-sys-color-secondary); 
    border-radius: 24px;
}

#moreBtnPanel.custom-button:hover {
    background-color: var(--md-sys-color-primary);
    border: none !important;
    color: #fff; 
}

#moreBtnPanel.custom-button:active {
    background-color: var(--md-sys-color-primary2);

}

   .math-expression {
            display: inline-block;
            font-size: 16px; /* или другой размер шрифта по вашему выбору */
            margin: 0;
            padding: 0;
        }

.modal-content {
    background-color: var(--md-sys-color-second-background) !important;
  }

.container-c {
    padding-bottom: 36px;
}

.modal-header {
    border-bottom: none !important;
    background-color: var(--md-sys-color-surface)!important;
  }

  .modal-footer {
    border-top: none !important;
    background-color: var(--md-sys-color-surface) !important;
  }



.app-container {
    width: 100%;
    background-color: var(--md-sys-color-background);
    transition: 0.2s;
    min-width: 320px;
    overflow-x: hidden;
}

.container-fluid {
   margin-top: 16px;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 16px 0px 0px;
    position: relative;
}

.app-header-left, .app-header-right {
    display: flex;
    align-items: center;
}

.app-header-right button {
    margin-left: 16px;
}

.app-icon {
    background-color: var(--md-sys-color-primary);
    width: 88px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-name {
    color: var(--md-sys-color-total);
    margin: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    padding-left: 24px;
}

.app-name span {
    color: var(--md-sys-color-primary);
}

.mode-switch {
    color: var(--md-sys-color-secondary);
    background-color: transparent;
    transition: 0.4s;
    border: none;
    border-radius: 50%;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mode-switch:hover {
    background-color: var(--md-sys-color-surface-variant1);
    color: var(--md-sys-color-primary);
}


.app-content {
    display: flex;
    padding: 0px 16px 0px 0px;
    overflow-x: hidden;
    
}

.app-sidebar {
    padding: 220px 24px 86px 24px;
}

.round-light-btn {
    background-color: var(--md-sys-color-surface);
    padding: 0;
    border: 0;
    transition: 0.2s;
    border-radius: 50%;
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.round-light-btn svg {
    fill: var(--md-sys-color-secondary); 
  }

.round-light-btn:hover {
    transition: 0.2s;
    background-color: var(--md-sys-color-surface-variant1);
    color: var(--md-sys-color-primary);
}
.round-light-btn:hover svg {
    transition: 0.2s;
    fill: var(--md-sys-color-primary); 
  }

.round-light-btn:active {
    transition: 0.2s;
    background-color: var(--md-sys-color-surface-variant2);
}


/*Блок калькулятора общий*/
.calc-form-section{
    background: #23262d url("img/bg-min.jpg") no-repeat;
    background-size: cover;
    background-position: center -56px;
    border-radius: 32px;
    margin-bottom: 36px;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.title-and-result {
    padding: 36px 36px 36px 96px;
}
.title-layaut {
    position: relative;
    display: flex;
    align-items: center;
}


.cover-h {
    color: #FFF;
    font-family: 'Roboto Flex', sans-serif !important;
    font-size: 68px !important;
    font-style: normal !important;
    font-weight: 300 !important;
    line-height: 115% !important;
    width: 76%;
    top: 50%;
}


/*Блок-карточка результата рассчета*/

.load-result {
    filter: blur(20px);
    transition: 0.3s;
   
}

.load-result2 { 
    position: relative;   
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 49.83%, rgba(0, 0, 0, 0.25) 100%), rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(15px);
    border-radius: 24px;
    
}
.svg-loader {
    display: none;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}


.result-table { 
    padding: 48px 56px 48px 56px;
}

.result-row-top {
    display: flex;

    align-items: center;
}


.right-result-top {
    margin: 0 auto;
    padding: 0px 0px 0px  48px;
}

.right-result-top > svg {
    width: 100%;
    height: auto;
    align-items: center;

}

.freq-sep {
    display: flex;
    align-items: center;
}

.freq-num {
    margin-right: auto; 
}

.freq-sep:after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background: rgba(255, 255, 255, 0.20);

    margin: 0px 0px 0px 12px; 
}


.second-result-table-row {
    display: flex;
    justify-content: space-between;
}

.frame-result-title {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 110.294%; 
}

.frame-result-number {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 8px;
}

.frame-result-block {
    padding-bottom: 16px;
}

.freq-num {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 110.294%; 
    padding: 8px 24px 8px 24px;
    border-radius: 32px;
    border: 1px solid rgba(255, 255, 255, 0.1);

    background: rgba(255, 255, 255, 0.05);

    backdrop-filter: blur(20px);
    

}

.freq-sep {
    padding-top: 16px;
}

.secondary-result-table {
    padding-top: 24px
}

.second-result-table-row {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 110.294%;
    padding-bottom: 12px;
}


.custom-form-label {
    color: #f8f9fa;
}

.form-container {
    padding: 24px 36px 24px 36px;
    border-radius: 0px 0px 24px 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.05);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.10) 100%), rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(20px);

}
/*Конец Блок-карточка результата рассчета*/


/* Начало карточки истории */
.card-result-item {
    border-radius: 24px;
    padding: 24px 24px 24px 24px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 8px;
    background-color: var(--md-sys-color-surface);
    cursor: pointer;
    transition: 0.5s;
}
.card-result-item:hover {
    transition: 0.5s;
    border-radius: 32px;
    background-color: var(--md-sys-color-surface-variant1);
}

.card-result-item:active {
    transition: 0.2s;
    background-color: var(--md-sys-color-surface-variant2);
}

.card-result-head {
    color :var(--md-sys-color-total);
    font-style: normal;
    font-weight: 700;
}
.card-result-second {
    color: var(--md-sys-color-secondary);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    margin-top: 2px;
}

.arrow-left-card {
    fill: var(--md-sys-color-secondary-light);
  }

.empty-result {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 36px;
    background-color: var(--md-sys-color-surface-bright);
    border-radius: 32px;
    color: var(--md-sys-color-secondary);
    margin-top: 8px;
}

.text-section {
    background-color: var(--md-sys-color-second-background);
    border-radius: 32px;
    padding: 48px 48px 56px 48px;
    position: relative;
}

.history-section {
    background-color: var(--md-sys-color-second-background);
    border-radius: 32px;
    padding: 32px 32px 32px 32px;
}

.history-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.history-section-header p {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    color: var(--md-sys-color-total);
}

.svg-antenna-modal-bg {
    background: #23262d url("img/bg-min.jpg") no-repeat;
    background-size: cover;
    border-radius: 8px;
    margin-bottom: 16px;
}

.svg-antenna-modal {
    background: rgba(35, 38, 45, 0.5);
    width: 100%;
    height: 100%;
    padding: 24px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.circles {
    border-radius: 45%;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    margin: 0 51%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
    z-index: 0; 
    pointer-events: none;
  }
  .circles div {
    position: absolute;
    border: 1px solid rgba(162, 169, 127, 0.2);
    border-bottom: 0;
    border-top: 0;
    border-radius: 45%;
    -webkit-animation: rotate 10s linear infinite;
    animation: rotate 7s linear infinite;
  }
  .circles div:nth-child(1) {
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 150ms;
    animation-delay: 150ms;
  }
  .circles div:nth-child(2) {
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 300ms;
    animation-delay: 300ms;
  }
  .circles div:nth-child(3) {
    width: 240px;
    height: 240px;
    -webkit-animation-delay: 450ms;
    animation-delay: 450ms;
  }
  .circles div:nth-child(4) {
    width: 320px;
    height: 320px;
    -webkit-animation-delay: 600ms;
    animation-delay: 600ms;
  }
  .circles div:nth-child(5) {
    width: 400px;
    height: 400px;
    -webkit-animation-delay: 750ms;
    animation-delay: 750ms;
  }
  .circles div:nth-child(6) {
    width: 480px;
    height: 480px;
    -webkit-animation-delay: 900ms;
    animation-delay: 900ms;
  }
  .circles div:nth-child(7) {
    width: 560px;
    height: 560px;
    -webkit-animation-delay: 1050ms;
    animation-delay: 1050ms;
  }
  .circles div:nth-child(8) {
    width: 640px;
    height: 640px;
    -webkit-animation-delay: 1200ms;
    animation-delay: 1200ms;
  }
  .circles div:nth-child(9) {
    width: 720px;
    height: 720px;
    -webkit-animation-delay: 1350ms;
    animation-delay: 1350ms;
  }
  .circles div:nth-child(10) {
    width: 800px;
    height: 800px;
    -webkit-animation-delay: 1500ms;
    animation-delay: 1500ms;
  }
  .circles div:nth-child(11) {
    width: 880px;
    height: 880px;
    -webkit-animation-delay: 1650ms;
    animation-delay: 1650ms;
  }
  .circles div:nth-child(12) {
    width: 960px;
    height: 960px;
    -webkit-animation-delay: 1800ms;
    animation-delay: 1800ms;
  }
  .circles div:nth-child(13) {
    width: 1040px;
    height: 1040px;
    -webkit-animation-delay: 1950ms;
    animation-delay: 1950ms;
  }
  .circles div:nth-child(14) {
    width: 1120px;
    height: 1120px;
    -webkit-animation-delay: 2100ms;
    animation-delay: 2100ms;
  }
  .circles div:nth-child(15) {
    width: 1200px;
    height: 1200px;
    -webkit-animation-delay: 2250ms;
    animation-delay: 2250ms;
  }
  
  @-webkit-keyframes rotate {
    0% {
    -webkit-transform: rotateY(0deg) rotateZ(0);
    transform: rotateY(0deg) rotateZ(0);
    }
    25% {
    -webkit-transform: rotateY(25deg) rotateZ(90deg);
    transform: rotateY(25deg) rotateZ(90deg);
    opacity: .5;
    }
    50% {
    -webkit-transform: rotateY(0deg) rotateZ(180deg);
    transform: rotateY(0deg) rotateZ(180deg);
    opacity: 1;
    }
    75% {
    -webkit-transform: rotateY(-25deg) rotateZ(270deg);
    transform: rotateY(-25deg) rotateZ(270deg);
    opacity: .5;
    }
    100% {
    -webkit-transform: rotateY(0deg) rotateZ(360deg);
    transform: rotateY(0deg) rotateZ(360deg);
    }
  }
  
  @keyframes rotate {
    0% {
    -webkit-transform: rotateY(0deg) rotateZ(0);
    transform: rotateY(0deg) rotateZ(0);
    }
    25% {
    -webkit-transform: rotateY(25deg) rotateZ(90deg);
    transform: rotateY(25deg) rotateZ(90deg);
    opacity: .5;
    }
    50% {
    -webkit-transform: rotateY(0deg) rotateZ(180deg);
    transform: rotateY(0deg) rotateZ(180deg);
    opacity: 1;
    }
    75% {
    -webkit-transform: rotateY(-25deg) rotateZ(270deg);
    transform: rotateY(-25deg) rotateZ(270deg);
    opacity: .5;
    }
    100% {
    -webkit-transform: rotateY(0deg) rotateZ(360deg);
    transform: rotateY(0deg) rotateZ(360deg);
    }
  }


@media (max-width: 992px) {
    .app-content {
        padding: 0 0 0 0;
    }
    .container-fluid {
        margin-top: 0px;
     }

    .calc-form-section{
        background-position: 170px center;
        border-radius: 0px;
        margin-bottom: 24px;
        margin-left: -15px;
        margin-right: -15px;
    }

    .text-section {
        background-color: var(--md-sys-color-second-background);
        border-radius: 32px;
        padding: 36px 24px 36px 24px;
        margin: -50px -15px -15px -15px;
    }
    
    h1{
        font-size: 24px !important;
    }

    .circles {
        margin: 0 70%;
      }
    
    .cover-h{
        width: 100%;
        font-size: 28px !important;
        font-weight: 700 !important;
        line-height: 140% !important;
        text-align: left;
    }

    .title-and-result {
        padding: 36px 8px 12px 20px;
        width: 100%;
    }

    .form-container {
        padding: 0px 8px 36px 8px;
        border-radius: 0px 0px 24px 24px;
        border: 0px solid rgba(255, 255, 255, 0.05);
        background: none;
        backdrop-filter: none;
        position: relative;
    }

    #openModalButton {
        margin-top: 8px;
    }
}

@media (max-width: 576px) {

    .app-name {
        display: none;
    }

    .calc-form-section{
        background-position: 80px center;
    }

    .cover-h{
        display: none;
    }

    .circles {
        margin: 0 100%;
      }

    .title-and-result {
        padding: 16px 8px 8px 20px;
    }

    .form-container {
            padding: 0px 8px 48px 8px;
            border-radius: 0px 0px 24px 24px;
            border: 0px solid rgba(255, 255, 255, 0.05);
            background: none;
            backdrop-filter: none;
    }

    .calculate-btn {
            margin-top: 8px;
    }
}

@media (max-width: 400px) {

    .app-header-right button {
        margin-left: 8px;
    }
    .calc-form-section{
        background-position: -100px center;
    }
}


@media (min-width: 1400px) {
    .custom-container-xxl {
      width: 100%;
      max-width: 1600px;
    }
  }

  .panel {
    position: fixed;
    top: 0;
    left: -320px; 
    width: 320px;
    height: 100%;
    background: var(--md-sys-color-second-background);
    transition: left 0.3s ease;
    box-shadow: 0px 0px 36px 0px rgba(0, 0, 0, 0.24);
    z-index: 999;
  }

  .panel-body {
    overflow: auto;
    height: 100%;
    padding: 0 16px 16px 16px ;
  }

  .panel-body::-webkit-scrollbar {
    width: 8px;
  }
  
  .panel-body::-webkit-scrollbar-thumb {
    background-color: var(--md-sys-color-secondary-light); /* цвет полосы прокрутки */
    border-radius: 6px; /* скругление углов полосы прокрутки */
  }
  
  .panel-body::-webkit-scrollbar-track {
    background-color: var(--md-sys-color-surface); /* цвет фона полосы прокрутки */
  }
  
  .panel.open {
    left: 0; /* при добавлении класса open панель смещается влево и становится видимой */
    
  }


  .panelHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px 8px 16px ;;
    background: var(--md-sys-color-surface);
}

.panel-body {
    padding-top: 8px;
}
.panelHeader p {
    font-size: 16px;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 0px;
}
  
  
  .close-panel-btn {
    position: relative;

  }
  
  .no-scroll {
    overflow: hidden;
  }

  .toast {
    background-color: #1bc097 !important; 
    color: #fff !important; 
}

.toast-container{
    z-index: 99999;
}


@media (min-width: 1800px) {

    .cover-h {
        font-size: 76px !important;
        width: 63%;
    }
    .app-sidebar {
        background-color: var(--md-sys-color-surface-bright);
      }
}


  